*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cart {
  width: max-content;
  height: max-content;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 20px #00000050;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: none;
}
.cart--active {
  display: block;
}
.cart__img {
  display: block;
  width: 300px;
  height: 300px;
}
.cart__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.cart__btn {
  font-size: 20px;
  background: #76aa12;
  border: none;
  padding: 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.cart__btn:hover {
  filter: grayscale(0.6);
  -webkit-filter: grayscale(0.6);
}
.btns {
  width: 300px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  position: relative;
  background: none;
  border: none;
  font-family: "Vazirmatn";
  font-size: 10px;
  transition: color 100ms ease-in-out;
  -webkit-transition: color 100ms ease-in-out;
  -moz-transition: color 100ms ease-in-out;
  -ms-transition: color 100ms ease-in-out;
  -o-transition: color 100ms ease-in-out;
}
.btn--active,
.btn:hover {
  color: orange;
}
.btn::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 300ms ease-in-out;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  pointer-events: none;
}
.btn:hover::after,
.btn--active::after {
  right: 0;
  width: 100%;
}
.cat-list {
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  width: 100%;
  gap: 5px;
  max-height: 380px;
  overflow: auto;
  display: none;
}
.cat-list--active {
  display: flex;
}
.cat-list::-webkit-scrollbar {
  appearance: none;
  width: 5px;
}
.cat-list::-webkit-scrollbar-thumb {
  background-color: rgb(118, 118, 118);
  border: 2px solid rgb(98, 98, 98);
  border-radius: 10px;
}
.cat-list::-webkit-scrollbar-track-piece {
  background-color: rgb(98, 98, 98);
  border-radius: 10px;
  overflow: hidden;
}
.cat-list__item {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.cat-list__img {
  display: block;
  height: 100%;
  width: 100%;
}
.cat-list__text {
  position: absolute;
  bottom: 0;
  right: 50%;
  text-wrap: nowrap;
  font-size: 11px;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  color: rgb(98, 98, 98);
  font-family: "Vazirmatn";
}
.modale {
  position: fixed;
  inset: 0;
  background: #00000090;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.modale__closer {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
  background: none;
  border: none;
}
.modale--active {
  opacity: 1;
  visibility: visible;
}
.cat-remove {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #ff1144;
  color: #aaaaaa;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.cat-remove:hover {
  background: #ff0011;
}
.cat-download {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #76aa12;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.cat-download:hover {
  background: #33aa12;
}
